{
    "semi": false,
    "tabWidth": 1,
    "printWidth": 180,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "bracketSpacing": false,
    "bracketSameLine":true
}